################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OILexer/v14/.suo
/obj
/OilexerTests/Allen Copeland.pfx
/VsixOilexer/obj
/VsixOilexer/bin
/Samples/CSharp (Formal)
/Samples/DateTime
/Samples/InputMaskFormat
/Samples/Oilexer.Next
/Samples/OilexerCommandLine
/Samples/SimpleCalc
/Samples/SLR
/Samples/ToySharp
/Samples/WIP
/Samples/Youtube Sample
